@model User
@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
    <form asp-page-handler="Register" method="post">
        Login: <input asp-for="Login"><br>
        Mail: <input asp-for="Mail"><br>
        Password: <input asp-for="Pass"><br>
        <button type="submit">Zarejestruj się</button>
    </form>
</div>